[Unit]
Description=Todoist Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/todoist-bot
Environment=PATH=/usr/local/bin/todoist-bot/myenv/bin:/usr/bin:/usr/local/bin:$PATH
EnvironmentFile=/usr/local/bin/todoist-bot/.env
ExecStart=/usr/local/bin/todoist-bot/myenv/bin/python /usr/local/bin/todoist-bot/todoist_bot.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/todoist-bot/bot.log
StandardError=append:/var/log/todoist-bot/bot.error.log

[Install]
WantedBy=multi-user.target